/* Colores */
/* Opción de Paleta de Colores 1 */
$primary: #1d3752;
$primary-complement: #214d72;
$secondary: #2c7695;
$secondary-complement: #50bfc3;
$white: #ffffff;

/* Opción de Paleta de Colores 2 */
/* $primary: #3A3A98;
$primary-complement: #5256BC;
$secondary: #527CBC;
$secondary-complement: #4AB1D8;
$white: #ffffff; */

/* Opción de Paleta de Colores 3 */
/* $primary: #494E6B;
$primary-complement: #98878F;
$secondary: #958E6D;
$secondary-complement: #192231;
$white: #ffffff; */

/* Opción de Paleta de Colores 4 -- no estoy seguro*/
/* $primary: #0F1626;
$primary-complement: #AB987A;
$secondary: #FF533D;
$secondary-complement: #F5F5F5;
$white: #ffffff; */

/* Opción de Paleta de Colores 5 -- no estoy seguro*/
/* $primary: #0B3C5D;
$primary-complement: #328CC1;
$secondary: #D9B310;
$secondary-complement: #1D2731;
$white: #ffffff; */

/* Opción de Paleta de Colores 6 */
/* $primary: #F7F5E6;
$primary-complement: #333A56;
$secondary: #52658F;
$secondary-complement: #E8E8E8;
$white: #ffffff; */

/* Fuentes */

/* Tamaños y envergaduras de Fuente */
$fzcard-finanzasIndice: 15px;
$fzcard-finanzas: 12px;
$little-size: 12px;
$fzcard-headweight: bold;
