/* Colores */

$primary: #1d3752;
$primary-complement: #214d72;
$secondary: #2c7695;
$secondary-complement: #50bfc3;
$white: #ffffff;

/* Fuentes */

/* Tamaños y envergaduras de Fuente */
$fzcard-finanzasIndice: 15px;
$fzcard-finanzas: 12px;
$little-size: 12px;
$fzcard-headweight: bold;

