@use 'global' as *;
/*@use 'summaryCards' as *;
@use 'newsCard' as *;
@use 'footer' as *;
@use 'underConstruction' as *; */

/* Estilos Generales */
 body {
  background-color: $secondary;
  font-family: $content;
  padding-top: 3rem;
}
/*
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $principal;
}

.btn {
  background-color: $primary-complement;
  border: none;
}
 */
/* Estilos del Navbar */
/* .navbar {
  background-color: $primary;
  font-family: $principal;

  .navbar-brand {
    color: $white;
    font-size: $title-size;
  }

  .nav-item {
    .nav-link {
      color: $white;
      font-size: $subtitle-size;
    }
  }
}
 */
/* Estilos del Banner Principal -- Indicadores / Login */
/* .banner-inicio {
  margin-top: 100px;
  margin-bottom: 70px;
  //background-image: url(../images/stocks.jpg);
  background-color: $black;
  border-radius: 10px;

  .resumen-financiero {
    margin-right: 10px;

    .titulo-seccion {
      color: $white;
    }

    & time {
      color: $white;
      line-height: 2.5;
    }

    .head-resumen {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      vertical-align: middle;
    }

    .indicadores {
      display: grid;
      grid-template: 1fr / 1fr;

      .renta-variable {
        padding-left: 0;
        padding-right: 0;
        margin: 5px;
        background-color: $white;
        opacity: 0.8;

        .card-body {
          padding-left: 5px;
          padding-right: 5px;
          background-color: $black;
          color: $white;

          .indicador-general {
            .indice {
              font-size: $fzcard-finanzasIndice;
              font-weight: $fzcard-headweight;
            }

            .cotizacion {
              font-size: $fzcard-finanzas;
              font-weight: $fzcard-headweight;
              text-align: center;
            }
          }

          .indicador-variacion {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            & p {
              font-size: $fzcard-finanzas;
            }

            & p:first-child {
              margin-right: 5px;
            }
          }
        }
      }

      .indicador-economico {
        padding-left: 0;
        padding-right: 0;
        margin: 5px;
        opacity: 0.8;
        background-color: $white;

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 5px;
          padding-right: 5px;
          background-color: $black;
          color: $white;

          .indicador-general {
            text-align: center;

            .indice {
              font-size: $fzcard-finanzasIndice;
              font-weight: $fzcard-headweight;
            }
          }

          .indicador-variacion {
            text-align: center;

            .cotizacion {
              font-size: $fzcard-finanzas;
              font-weight: $fzcard-headweight;
            }
          }
        }
      }
    }
  }

  .login {
    margin-left: 10px;
    color: $white;
    font-weight: 500;

    & form {
      margin-top: 22px;
      padding: 0 40px;

      .ingresar {
        margin-bottom: 20px;

        .btn {
          background-color: $primary-complement;
          border: none;
        }

        #recuperaContrasena {
          margin-left: 20px;
        }
      }

      .little {
        font-size: $little-size;
      }

      #ingresaEmail {
        margin-bottom: 10px;
      }

      #ingresaPassword {
        margin-bottom: 10px;
      }

      .registro {
        #registro {
          margin-left: 20px;
        }
      }
    }
  }
} */

/* Estilos de la secciónn Blog-Calculadora -- Preview Blog / Calculadora Financiera */
/* .blog-calculadora {
  margin-top: 70px;
  margin-bottom: 70px;

  .blog {
    margin-right: 10px;
  }

  .calculadoras {
    .subtitulo-seccion {
      font-size: 20px;
      text-align: center;
    }

    .calculadora {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 25px;

      .row {
        .datos {
          font-size: 0.75rem;
          font-weight: bold;
          padding: 0;
          margin-right: 10px;

          .periodos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
          }

          #montoInicial,
          #ahorroMensual {
            font-size: 0.75rem;
            width: 130px;
            margin-bottom: 10px;
            margin-right: 3px;
          }

          #rendimiento,
          #periodos {
            font-size: 0.75rem;
            width: 110px;
            margin-bottom: 10px;
            margin-right: 5px;
          }

          & select {
            font-size: 0.75rem;
          }
        }

        .grafico {
          padding: 0;

          #chartInversion {
            //background-color: white;
            width: 500px;
            height: 200px;
          }
        }
      }
    }
  }
} */

/* Estilos de la sección de noticias */
/* .noticias {
  margin-top: 70px;
  margin-bottom: 70px;

  .card-deck {
    .card {
      padding: 0 5px;
      margin: 5px 10px;
    }
  }
}
 */