body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', serif;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

p {
    margin-top: 20px;
}

img {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}