@charset "UTF-8";
/* Colores */
/* Fuentes */
/* Tamaños y envergaduras de Fuente */
/* Estilos Generales */
.btn {
  background-color: #214d72;
  border: none;
}

/* Estilos del Navbar */
.navbar {
  background-color: #1d3752;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .nav-item .nav-link {
  color: #ffffff;
}

/* Estilos del Banner Principal -- Indicadores / Login */
.banner-inicio {
  margin-top: 100px;
  margin-bottom: 70px;
  background-image: url(../images/stocks.jpg);
  border-radius: 10px;
}
.banner-inicio .resumen-financiero {
  margin-right: 10px;
}
.banner-inicio .resumen-financiero .titulo-seccion {
  color: #ffffff;
}
.banner-inicio .resumen-financiero time {
  color: #ffffff;
  line-height: 2.5;
}
.banner-inicio .resumen-financiero .head-resumen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}
.banner-inicio .resumen-financiero .indicadores {
  display: grid;
  grid-template: 1fr/1fr;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable {
  padding-left: 0;
  padding-right: 0;
  margin: 5px;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable .card-body {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2c7695;
  color: #ffffff;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable .card-body .indicador-general .indice {
  font-size: 15px;
  font-weight: bold;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable .card-body .indicador-general .cotizacion {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable .card-body .indicador-variacion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable .card-body .indicador-variacion p {
  font-size: 12px;
}
.banner-inicio .resumen-financiero .indicadores .renta-variable .card-body .indicador-variacion p:first-child {
  margin-right: 5px;
}
.banner-inicio .resumen-financiero .indicadores .indicador-economico {
  padding-left: 0;
  padding-right: 0;
  margin: 5px;
}
.banner-inicio .resumen-financiero .indicadores .indicador-economico .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2c7695;
  color: #ffffff;
}
.banner-inicio .resumen-financiero .indicadores .indicador-economico .card-body .indicador-general {
  text-align: center;
}
.banner-inicio .resumen-financiero .indicadores .indicador-economico .card-body .indicador-general .indice {
  font-size: 15px;
  font-weight: bold;
}
.banner-inicio .resumen-financiero .indicadores .indicador-economico .card-body .indicador-variacion {
  text-align: center;
}
.banner-inicio .resumen-financiero .indicadores .indicador-economico .card-body .indicador-variacion .cotizacion {
  font-size: 12px;
  font-weight: bold;
}
.banner-inicio .login {
  margin-left: 10px;
  color: #ffffff;
  font-weight: 500;
}
.banner-inicio .login form {
  margin-top: 22px;
  padding: 0 40px;
}
.banner-inicio .login form .ingresar {
  margin-bottom: 20px;
}
.banner-inicio .login form .ingresar .btn {
  background-color: #214d72;
  border: none;
}
.banner-inicio .login form .ingresar #recuperaContrasena {
  margin-left: 20px;
}
.banner-inicio .login form .little {
  font-size: 12px;
}
.banner-inicio .login form #ingresaEmail {
  margin-bottom: 10px;
}
.banner-inicio .login form #ingresaPassword {
  margin-bottom: 10px;
}
.banner-inicio .login form .registro #registro {
  margin-left: 20px;
}

/* Estilos de la secciónn Blog-Calculadora -- Preview Blog / Calculadora Financiera */
.blog-calculadora {
  margin-top: 70px;
  margin-bottom: 70px;
}
.blog-calculadora .blog {
  margin-right: 10px;
}
.blog-calculadora .blog .articulos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-calculadora .blog .articulos .row .card {
  padding: 0 5px;
  margin: 5px 10px;
}
.blog-calculadora .blog .articulos .row .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}
.blog-calculadora .blog .articulos .row .card .blog-summary .card-text {
  margin-bottom: 0.75rem;
}
.blog-calculadora .calculadoras .subtitulo-seccion {
  font-size: 20px;
  text-align: center;
}
.blog-calculadora .calculadoras .calculadora {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}
.blog-calculadora .calculadoras .calculadora .row .datos {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0;
  margin-right: 10px;
}
.blog-calculadora .calculadoras .calculadora .row .datos .periodos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.blog-calculadora .calculadoras .calculadora .row .datos #montoInicial,
.blog-calculadora .calculadoras .calculadora .row .datos #ahorroMensual {
  font-size: 0.75rem;
  width: 130px;
  margin-bottom: 10px;
  margin-right: 3px;
}
.blog-calculadora .calculadoras .calculadora .row .datos #rendimiento,
.blog-calculadora .calculadoras .calculadora .row .datos #periodos {
  font-size: 0.75rem;
  width: 110px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.blog-calculadora .calculadoras .calculadora .row .datos select {
  font-size: 0.75rem;
}
.blog-calculadora .calculadoras .calculadora .row .grafico {
  padding: 0;
}
.blog-calculadora .calculadoras .calculadora .row .grafico img {
  height: 76%;
  width: 100%;
}

/* Estilos de la sección de noticias */
.noticias {
  margin-top: 70px;
  margin-bottom: 70px;
}
.noticias .cards-noticias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Estilos del footer */
.footer {
  margin-top: 70px;
}
.footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .footer-links div ul li {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
